body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 9pt "Tahoma";
}
.styled-button-2 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 28.7cm;
    padding-left: 1.4cm; /* Adjust padding as needed */
    padding-right: 1.9cm;
    padding-bottom: 1.9cm;
    padding-top: 1.1cm;
    margin: 1cm auto;


    background: white
}

@page {
    size: A4;

}
@media print {
    .page {
     
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.right-details {
    float: right;
    width: 70%; /* Adjust width as needed */
    padding-left: 29px; /* Adjust padding as needed */
}


.patient-summary {
width: 100%;
/* border: 1px solid #ccc; */
padding: 100px;
margin-top: 20px;

}
.patient-summary h4 {
margin-left: 80px;
height: 8px;
text-align: center;
}
.patient-summary table {
width: 100%;
border-collapse: collapse;
}
